<% if params[:name] %>
    <h1>Hello <%= params[:name].capitalize %>!</h1>
<% if params[:name].downcase == "kaitlin"  %>
    <p>You are awesome!</p>
<% end %>
<% else %>
    <h1>Hello!</h1>
<% end %>

