<% if params[:name] %>
    <h1>Hello <%= params[:name].capitalize %>!</h1>
<% if params[:name].downcase == "kaitlin"  %>
    <h2>You are awesome!</h2>
<% end %>
<% else %>
    <h1>Hello!</h1>
<% end %>